@import "_code";
$portrait: (max-width 1023px) (orientation portrait);
.flex {
	@extend %flex-wrap;
}
$ham: 20px;
h1, h2, h3, h4, h5, h6, p {
	margin-top: 1em;
	margin-bottom: 1em;
}
%golden-text {
	color: transparent !important;
	background-repeat: no-repeat;
	@include background-clip(text);
	@include background-size(cover);
	background-image: url('../img/goldenBG@2x.png');
}
nav {
	@include breakpoint(768px) {
		display: none;
	}
	.row {
		justify-content: space-between;
	}
	.hamburger {
		position: fixed;
		top: 0;
		left: 0;
		padding: 16px 30px;
		z-index: 2;
		@include breakpoint(768px) {
			padding: 16px 15px;
		}
		&:hover {
			cursor: pointer;
		}
		span {
			width: $ham;
			height: 2px;
			background-color: $dark;
			display: block;
			margin: 3px auto;
			@include transition(all 0.3s ease-in-out);
		}
		&.active{
			@include transition(all 0.3s ease-in-out);
			@include transition-delay(0.6s);
			@include rotate(45deg);
			span {
				&:nth-child(2) {
					width: 0px;
				}
				&:nth-child(1), &:nth-child(3) {
					@include transition-delay(0.3s);
				}
				&:nth-child(1){
					@include translateY($ham/4);
				}
				&:nth-child(3){
					@include transform(translateY(-$ham/4) rotate(90deg));
				}
			}
		}
	}
	ul {
		display: none;
		position: fixed;
		@extend %list-reset;
		@extend %flex-wrap;
		align-items: center;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		@include breakpoint(max-width 767px) {
			padding: 50px 15px 15px;
			align-content: flex-start;
			background-color: rgba($white, 0.95);
		}
		@include breakpoint(768px) {
			padding: 0 15px;
		}
		li {
			@include breakpoint(max-width 767px) {
				width: 100%;
			}
			a {
				display: block;
				padding: 10px;
				color: $dark;
				&:hover {
					color: $second;
				}
			}
		}
	}
}
header.jumbotron {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-image: url('../img/background@2x.png');
	background-position: center center;
	background-repeat: no-repeat;
	@include background-size(cover);
	@include breakpoint (768px) {
		background-attachment: fixed;
	}
	> .container-fluid{
		height: 100%;
		> .flex {
			padding-top: 50px;
			padding-bottom: 50px;
			height: 100%;
		}
	}
	.container {
		position: relative;
		height: 100%;
		background-color: rgba($white, 0.8);
		background-image: url('../img/flora_mobile@3x.png');
		background-position: center center;
		background-repeat: no-repeat;
		@include background-size(cover);
		@include box-shadow(0 0 15px rgba($dark, 0.15));
		@include breakpoint (768px) {
			background-image: url('../img/flora_pad@2x.png');
		}
		@include breakpoint (1024px) {
			background-image: url('../img/flora.png');
		}
		.flex {
			height: 100%;
			justify-content: center;
			align-items: center;
		}
		h1 {
			padding-top: 4rem;
			img {
				height: auto;
				max-width: calc(100% + 50px);
				margin: 0 -25px;
				@include breakpoint (768px) {
					max-width: 100%;
					margin: 0;
				}
			}
		}
		$colorBg: #f9f8f6;
		$colorOutline: #AE7B20;
		$colorOutlineFade: #F0D77C;
		$widthMouse: 20px;
		$heightMouse: 32px;
		$borderMouse: 4px;
		$posMouse: 4px;
		$posText: 2px;
		$sizeTrackball: 4px;
		$posTrackball: 10px;
		$shrinkTrackball: 0.4;
		$animDuration: 10s;
		@mixin bgGradient {
			background: $colorOutlineFade
			linear-gradient(
				transparent 0%,
				transparent 50%,
				$colorOutline 50%,
				$colorOutline 100%
			);
		}
		.mouse {
			position: absolute;
			bottom: 30px;
			width: $widthMouse;
			height: $heightMouse;
			border-radius: 100px;
			@include bgGradient;
			@include animation(colorSlide $animDuration linear infinite, nudgeMouse $animDuration ease-out infinite);
			@include background-size(100% 200%);
			&:before, &:after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
			}
			&:before {
				width: $widthMouse - $borderMouse;
				height: $heightMouse - $borderMouse;
				background-color: $colorBg;
				border-radius: 100px;
			}
			&:after {
				background-color: $colorOutline;
				width: $sizeTrackball;
				height: $sizeTrackball;
				border-radius: 100%;
				animation: trackBallSlide $animDuration linear infinite;
			}
		}
		@keyframes colorSlide { 
			0% { background-position: 0% 100%; }
			20% { background-position: 0% 0%; }
			21% { background-color: $colorOutlineFade; }
			29.99% { 
				background-color: $colorOutline;
				background-position: 0% 0%;
			}
			30% { 
				background-color: $colorOutlineFade;
				background-position: 0% 100%;
			}
			50% { background-position: 0% 0%; }
			51% { background-color: $colorOutlineFade; }
			59% { 
				background-color: $colorOutline;
				background-position: 0% 0%;
			}
			60% { 
				background-color: $colorOutlineFade;
				background-position: 0% 100%;
			}
			80% { background-position: 0% 0%; }
			81% { background-color: $colorOutlineFade; }
			90%, 100% { background-color: $colorOutline; }
		}
		@keyframes trackBallSlide {
			0% {
				opacity: 1;
				transform: scale(1) translateY(-$posTrackball);
			}
			6% { 
				opacity: 1;
				transform: scale(0.9) translateY($posTrackball/4);
			}
			14% {
				opacity: 0;
				transform: scale($shrinkTrackball) translateY($posTrackball*2);
			}
			15%, 19% {
				opacity: 0;
				transform: scale($shrinkTrackball) translateY(-$posTrackball);
			}
			28%, 29.99% {
				opacity: 1;
				transform: scale(1) translateY(-$posTrackball);
			}
			30% {
				opacity: 1;
				transform: scale(1) translateY(-$posTrackball);
			}
			36% { 
				opacity: 1;
				transform: scale(0.9) translateY($posTrackball/4);
			}
			44% {
				opacity: 0;
				transform: scale($shrinkTrackball) translateY($posTrackball*2);
			}
			45%, 49% {
				opacity: 0;
				transform: scale($shrinkTrackball) translateY(-$posTrackball);
			}
			58%, 59.99% {
				opacity: 1;
				transform: scale(1) translateY(-$posTrackball);
			}
			60% {
				opacity: 1;
				transform: scale(1) translateY(-$posTrackball);
			}
			66% { 
				opacity: 1;
				transform: scale(0.9) translateY($posTrackball/4);
			}
			74% {
				opacity: 0;
				transform: scale($shrinkTrackball) translateY($posTrackball*2);
			}
			75%, 79% {
				opacity: 0;
				transform: scale($shrinkTrackball) translateY(-$posTrackball);
			}
			88%, 100% {
				opacity: 1;
				transform: scale(1) translateY(-$posTrackball);
			}
		}
		@keyframes nudgeMouse {
			0% { transform: translateY(0); }
			20% { transform: translateY($posMouse); }
			30% { transform: translateY(0); }
			50% { transform: translateY($posMouse); }
			60% { transform: translateY(0); }
			80% { transform: translateY($posMouse); }
			90% { transform: translateY(0); }
		}
	}
}
section {
	&:nth-child(odd) {
		background-color: #fafafa;
	}
	&:nth-child(even) {
		background-color: $dark;
	}
	.title {
		position: relative;
		h2 {
			margin: 0 0 1em;
			font-size: 48px;
			line-height: 1;
			@extend %golden-text;
			@include breakpoint (768px) {
				position: absolute;
				margin: 0;
				writing-mode: vertical-rl;
				-webkit-writing-mode: vertical-rl;
			}
		}
	}
	&.newlywed {
		.background {
			position: relative;
			height: 100vh;
			@include animation(couple 5s forwards cubic-bezier(0.4, 0, 1, 1));
			&::before, &::after {
				@extend %before-after;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100vh;
				@include background-size(cover);
				background-position: bottom center;
				@include breakpoint(768px) {
					background-attachment: fixed;
					background-position: center center;
				}
			}
			&::before {
				background-image: url("../img/2-couple-dark@3x.jpg");
				@include animation(bifade 5s alternate infinite ease-in-out);
				z-index: 1;
				@include breakpoint(768px) {
					background-image: url("../img/couple.jpg");
				}
			}
			&::after {
				background-image: url("../img/2-couple-light@3x.jpg");
				z-index: 0;
				@include breakpoint(768px) {
					background-image: url("../img/couple-2.jpg");
				}
			}
		}
		.row {
			@include breakpoint(768px) {
				height: 100%;
			}
		}
		.text {
			position: relative;
			z-index: 1;
			@include breakpoint(max-width 767px) {
				padding-top: 75px;
			}
			&::before {
				@extend %before-after;
				position: absolute;
				top: 50%;
				left: 50%;
				height: 0;
				@include animation(bcolor 10s alternate infinite ease-in-out);
				@include transition(background-image 1s ease-in-out);
				@include translate(-50%, -50%);
				z-index: -1;
				@include breakpoint(768px) {
					width: 105%;
					padding-top: 105%;
				}
			}
			img {
				margin: auto;
			}
			h4 {
				margin-top: 1em;
				color: $dark;
				font-weight: 200;
				@include breakpoint(768px) {
					color: $white;
				}
			}
		}
	}
	&.bigday {
		padding-top: 50px;
		padding-bottom: 50px;
		@include breakpoint(768px) {
			padding-top: 100px;
			padding-bottom: 100px;
		}
		.date-time {
			text-align: center;
			span {
				// display: block;
				color: #aaa;
				font-size: 18px;
				line-height: 1;
				&[class*='row'] {
					display: inline-flex;
					justify-content: center;
					align-items: baseline;
				}
				&.note {
					display: block;
					margin-top: 0.5rem;
					font-size: 1rem;
				}
				&.number {
					color: $main;
					font-size: 96px;
					font-weight: 300;
				}
				i {
					display: block;
					align-self: center;
					width: 2em;
					padding: 5px;
					font-style: normal;
					line-height: 1.35;
					word-break: break-all;
				}
			}
		}
		.pre-text {
			margin-top: 100px;
			margin-bottom: 25px;
			color: #ccc;
			font-size: 18px;
			letter-spacing: 0.1em;
		}
		ul.timer {
			@extend %list-reset;
			justify-content: center;
			line-height: 1;
			li {
				position: relative;
				padding: 0 30px;
				color: #aaa;
				font-size: 14px;
				text-align: center;
				text-transform: uppercase;
				span {
					display: block;
					color: $main;
					font-size: 96px;
					font-weight: 300;
				}
				+ li {
					&::before {
						content: ':';
						position: absolute;
						top: -13px;
						left: -10px;
						color: $main;
						font-family: sans-serif;
						font-size: 96px;
						font-weight: 100;
						line-height: 1;
					}
				}
			}
		}
	}
	&.story {
		padding-top: 50px;
		padding-bottom: 50px;
		@include breakpoint(768px) {
			padding-top: 100px;
			padding-bottom: 100px;
		}
		ul {
			position: relative;
			padding: 0;
			margin: 0;
			&::before {
				@extend %before-after;
				position: absolute;
				top: 0px;
				left: 115px;
				width: 1px;
				height: 100%;
				background-color: $main;
			}
			li {
				position: relative;
				padding-left: 145px;
				padding-top: 10px;
				padding-bottom: 10px;
				font-size: 18px;
				&::before {
					@extend %before-after;
					position: absolute;
					top: 20px;
					left: 111.5px;
					width: 8px;
					height: 8px;
					background-color: $second;
					@include border-radius(50%);
				}
				&.txt-full {
					padding: 10px 30px;
					margin-top: 20px;
					margin-bottom: 20px;
					border-top: 1px solid $main;
					border-bottom: 1px solid $main;
					background-color: #fafafa;
					&::before {
						display: none;
					}
				}
			}
		}
		.day {
			position: absolute;
			left: 0px;
			font-weight: 200;
		}
		.txt {
			font-weight: 400;
		}
	}
	&.gallery {
		padding-top: 50px;
		padding-bottom: 50px;
		@include breakpoint(768px) {
			padding-top: 100px;
			padding-bottom: 100px;
		}
		.lightgallery {
			font-size: 0;
			@include column-count(2);
			@include breakpoint(768px) {
				@include column-count(3);
			}
			a {
				display: block;
				padding: 5px;
				img {
					width: 100%;
					height: auto;
				}
			}
		}
		.continued {
			padding-top: 50px;
			color: $white;
			font-size: 1.25em;
		}
	}
	&.map {
		.text {
			display: flex;
			padding-top: 50px;
			padding-bottom: 50px;
			justify-content: flex-end;
			.row {
				@include breakpoint(768px) {
					padding-right: 50px;
				}
			}
			h4 {
				@extend %golden-text;
				font-weight: 600;
			}
			h4, h5 {
				margin: 0.5em 0 0.25em;
				> span, i {
					font-weight: 200;
					font-style: normal;
				}
				> span {
					padding-left: 1em;
					font-size: 0.7em;
				}
			}
			.col-12 {
				+ .col-12 {
					margin-top: 1.5rem;
				}
			}
			ul {
				li {
					margin-bottom: 0.5em;
				}
				&.road {
					@extend %list-reset;
					@extend %flex-wrap;
					li {
						padding-right: 0.25em;
						+ li {
							&::before {
								content: '➔';
								display: inline-block;
								padding-right: 0.25em;
							}
						}
					}
				}
			}
		}
		.gmap {
			.row {
				height: 100%;
			}
			iframe {
				height: 100%;
				min-height: 400px;
			}
		}
	}
}
footer {
	font-size: 12px;
	text-align: right;
}
@include keyframes(bifade) {
	0% {
		opacity:1;
	}
	45% {
		opacity:1;
	}
	55% {
		opacity:0;
	}
	100% {
		opacity:0;
	}
}
@include keyframes(bcolor) {
	0% {
		@include background-image(radial-gradient(center, ellipse cover, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%));
	}
	45% {
		@include background-image(radial-gradient(center, ellipse cover, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 100%));
	}
	55% {
		@include background-image(radial-gradient(center, ellipse cover, rgba(136, 98, 30,0.75) 0%,rgba(136, 98, 30,0) 70%,rgba(0,0,0,0) 100%));
	}
	100% {
		@include background-image(radial-gradient(center, ellipse cover, rgba(136, 98, 30,0.75) 0%,rgba(136, 98, 30,0) 70%,rgba(0,0,0,0) 100%));
	}
}